<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.4/tailwind.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet"/>
    <title>REST - Flash Demo</title>
</head>
<body>
<div id="page">
    <header>
        <h1>{{ app_name }} - {{ app_author }}</h1>
    </header>
    <main>
        <section>
            <h2 class="my-8">DDL</h2>
            <pre class="overflow-x-auto pb-4"><code class="leading-7">DROP TABLE todos;</code><br/><code class="leading-7">CREATE TABLE todos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, user_id INTEGER NOT NULL, completed INTEGER NOT NULL CHECK (completed = 0 or completed = 1) , title TEXT NOT NULL);</code></pre>
            <h2 class="my-8">Clients</h2>
            <ul>
                <li><a href="https://codepen.io/babalugats76/pen/ZEWgzKY" target="_blank" title="Sample API Client Project on CodePen">Using a RESTful API (Vanilla
                    JS)</a></li>
            </ul>
            <br/>
            <h2>Environment Variables</h2>
            <pre>{{ config['MONGO_URI'] }}</pre>
        </section>

    </main>
    <footer></footer>
</div>
</body>
</html>